<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- Load properties file from sort.properties  -->
  <context:property-placeholder location ="classpath:sport.properties"/>
  
	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
   <bean id="myfortune"
         class="com.luv2code.spring_demo.HappyFortneService">
         
         </bean>
    
 	<bean id="myCoach"
 		class="com.luv2code.spring_demo.TrackCoach">	 	
 		
 		<constructor-arg ref ="myfortune"/>
 	</bean>


     <bean id="myCricketCoach"
      class="com.luv2code.spring_demo.CricketCoach">
      
      <!--setup the setter injection-->
      <property name="thefortune" ref="myfortune"/>
      <!-- Inject the property EmailAddress and Team -->
     <!--   <property name="emailAddress" value="thebestcoach2luv2code.com"></property>-->
     <!--  <property name="team" value="sunrisers hyderabad"></property>-->
      
       <property name="emailAddress" value="${foo.emailAddress}"></property>
      <property name="team" value="${foo.team}"></property>
      
       </bean>
       
      
      
      
      
      
      
      
      
    

</beans>





